$font-family-sans: 'Inter', sans-serif;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-size: 1.6rem;

$padding: 10px;
$margin: 10px;
$gap: 10px;
$border-width: 2px;
$border-radius: 10px;
$outline-width: 3px;

$primary: #ffffff;
$secondary: #008000;

$text: #006400;

$header-font-size: 3.2rem;

$sidebar-lnk-hover: rgba(0, 0, 0, 0.1);
