@use 'mixins' as *;
@use 'variables' as *;

:global {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text;
  }

  section {
    @include margin-between-y(5px);

    border: $border-width dashed $secondary;
    padding: $padding;
    border-radius: $border-radius;

    & > * {
      @include margin-between-y(5px);
    }
  }

  hr,
  p {
    @include margin-between-y(5px);
  }

  hr {
    color: $text;
  }

  a {
    color: inherit;
    font-weight: bold;
  }

  a:hover {
    filter: brightness(120%);
  }

  a:visited {
    color: inherit;
  }
}
