@use 'mixins' as *;
@use 'variables' as *;

:global {
  .content {
    width: 760px;
    margin: 0 auto;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: $font-family-sans;
    font-size: $font-size;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text;
  }

  section {
    @include margin-between-y($margin);

    border: $border-width dashed $secondary;
    padding: $padding;
    border-radius: $border-radius;
  }

  p {
    @include margin-between-y($margin);
  }

  hr {
    @include margin-between-y($margin);

    color: $text;
  }

  a {
    color: inherit;
    font-weight: bold;
  }

  a:hover {
    filter: brightness(120%);
    text-decoration: underline;
  }

  a:visited {
    color: inherit;
  }
}
