$bg-color: rgba(
  $color: rgb(18, 18, 18),
  $alpha: 0.8,
);
$text-color: rgba(
  $color: rgb(255, 255, 255),
  $alpha: 0.8,
);
$border-color: rgba(
  $color: rgb(200, 200, 200),
  $alpha: 0.1,
);
$section-bg-color: #101010;
$section-border-color: #303030;

@font-face {
  font-family: basiic;
  src: url('https://cinni.net/fonts/basiic.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: basiic, sans-serif;
  font-size: 1.6rem;
  background-image: url('@images/background.gif');
  color: $text-color;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.center {
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid:
    'header header header' auto
    'aside-left main aside-right' auto
    'footer footer footer' auto
    / 200px auto 200px;
  gap: 10px;
  padding: 10px;

  > {
    * {
      padding: 10px;
      background-color: $bg-color;
      border: 1px solid $border-color;
      border-radius: 5px;
    }

    header {
      grid-area: header;
      border: 0;
      background-color: transparent;
    }

    .aside-left {
      grid-area: aside-left;
      text-align: center;
    }

    main {
      grid-area: main;
    }

    .aside-right {
      grid-area: aside-right;
      text-align: center;
    }

    footer {
      grid-area: footer;
    }
  }
}

header {
  font-size: 3rem;
  text-align: center;
}

.aside-left {
  ul {
    list-style: none;
  }

  li {
    margin: 5px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: 10px;
      border-radius: 5px;
      text-align: center;

      &:hover {
        background-color: #333;
        color: white;
      }
    }
  }
}

section {
  padding: 5px;
  background-color: $section-bg-color;
  border: 1px solid $section-border-color;
  border-radius: 5px;

  hr {
    color: $section-border-color;
  }
}

section.nav {
  background-color: transparent;
  padding: 0;
  border: 0;
}

#statuscafe-author {
  margin-bottom: 5px;
}

#statuscafe-time-ago {
  font-size: 1.2rem;
}

#statuscafe-content {
  margin: 0 10px 5px 10px;
}

footer {
  text-align: center;
}

hr {
  margin: 5px 0;
  color: $border-color;
}

a {
  text-decoration: none;
  color: $text-color;
}
